@page "/{OptionalSeed}"
@page "/"
@using System.Text.RegularExpressions
@using OniStarmapGenerator.Model
@using Newtonsoft.Json
@using TraitFinderApp.Layout.ClusterEntries
@using TraitFinderApp.Layout.SettingContainers
@using TraitFinderApp.Model
@using TraitFinderApp.Model.Mixing
@using TraitFinderApp.Client.Model
@using TraitFinderApp.Client.Model.Search
@inject ISnackbar Snackbar
@inject IScrollManager ScrollManager
@inject IDialogService DialogService
@inject IStringLocalizer<App> L
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<style>
	.mud-tooltip-root {
	align-self: center !important;
	justify-self: center !important;
	}

	.mud-input-control {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-right: 0 !important;
	}

	.highlight-on-disabled:disabled {
	color: rgb(255, 187, 40) !important;
	background-color: rgb(135, 68, 102) !important;
	font-weight: bold;
	}
</style>

@if (!DataInitialized)
{
	<MudStack Spacing="3" AlignItems="AlignItems.Center">
		<MudProgressCircular Color="Color.Default" Indeterminate="true" />
	</MudStack>
}
else
{
	<MudContainer MaxWidth="MaxWidth.False">
		<MudStack Spacing="3" AlignItems="AlignItems.Center">
			<MudText Typo="Typo.h3">@L["World Trait Finder"]</MudText>
			<!--Main game version-->
			<MudText Typo="Typo.h4">@L["Select your game version and dlcs."]</MudText>
			<MudStack Row="true" Justify="Justify.SpaceEvenly" AlignItems="AlignItems.Center">
				<MudGrid Justify="Justify.Center" Spacing="3">
					@foreach (var dlc in Dlc.Values)
					{
						@if (dlc.IsMainVersion)
						{
							<MudItem>
								<MudButton Variant="Variant.Filled" Disabled=@Query.IsDlcSelected(dlc) OnClick="()=> Query.ToggleDlc(dlc)" Class="highlight-on-disabled">
									<MudImage ObjectFit="ObjectFit.Contain" Height="140" Src=@dlc.Image Alt="@L[@dlc.Name]" />
								</MudButton>
							</MudItem>
						}
					}
				</MudGrid>
			</MudStack>
			<!--Mode-->
			@if (Query?.MainVersionSelected() ?? false)
			{
				bool isFixedCoordinate = Query.SelectedCluster?.HasFixedCoordinate() ?? false;
				bool blockedFromReset = isFixedCoordinate || (!Query.HasFilters());
				bool anyModeSelected = Query.AnyModeSelected();

				<MudSpacer></MudSpacer>
				@* <MudText Typo="Typo.h4">@L["Select your game mode:"]</MudText> *@
				<MudText Typo="Typo.h4">@L["Select your asteroid style:"]</MudText>
				<MudGrid Spacing="2" Justify="Justify.Center">

					@foreach (var mode in ClusterCategory.Values)
					{
						@if (mode.AllowedWithCurrentQuery(Query))
						{
							bool isSelected = Query.IsModeSelected(mode);
							var ModeName = new MarkupString(isSelected ? $"<b>{@L[@mode.Name]}</b>" : @L[@mode.Name]);
							<MudItem>
								<MudButton Variant="Variant.Filled" Disabled=@isSelected OnClick="()=> Query.SelectMode(mode)" Class="highlight-on-disabled">
									<MudStack Spacing="1">
										<MudImage ObjectFit="ObjectFit.Contain" Width="100" Height="100" Src=@mode.Image Alt="@L[@mode.Name]" />
										<MudText Typo="Typo.body1">@ModeName</MudText>
									</MudStack>
								</MudButton>
							</MudItem>
						}
					}
				</MudGrid>

				<MudSpacer></MudSpacer>

				string selectClusterText = Query.SpacedOutSelected() ? @L["Select your Asteroid Cluster:"] : @L["Select your Asteroid:"];

				<MudText hidden="@(!anyModeSelected)" Align="Align.Center" Typo="Typo.h4">@selectClusterText</MudText>

				<MudContainer hidden="@(!anyModeSelected)">
					<!--Cluster-->
					<MudStack Row="true" Justify="Justify.Center">

						<MudGrid Spacing="3" Justify="Justify.Center">
							@foreach (var cluster in ClusterLayout.Values)
							{
								@if (cluster.AllowedWithCurrentQuery(Query))
								{
									bool isSelected = Query.IsClusterSelected(cluster);
									var ClusterName = new MarkupString(isSelected ? $"<b>{@L[cluster.DisplayName()]}</ b >" : @L[cluster.DisplayName()]);
									<MudItem>
										<MudButton Variant="Variant.Filled" Disabled=@(Query.IsClusterSelected(cluster)) OnClick="()=> SelectCluster(cluster)" Class="highlight-on-disabled">
											@if (cluster.HasContentDlcRequirement())
											{
												var dlcFrom = cluster.GetContentDlcRequirement();
												string fillable = string.Format(@L["This asteroid requires the {0} DLC to be played."], @L[dlcFrom.Name]);
												<MudTooltip Arrow Text="@fillable">
													<MudImage Style="position:absolute;top:0px;right:0px; z-index:99;" Width="60" Height="60" Src="@dlcFrom.BannerImage" Alt="@L[@dlcFrom.Name]" />
												</MudTooltip>
											}
											<MudStack Spacing="1" AlignItems="AlignItems.Center">
												<MudImage ObjectFit="ObjectFit.Contain" Width="110" Height="110" Src="@cluster.Image()" Alt="@L[@cluster.Name]" />
												<MudText Class="highlight-on-disabled:disabled" Align="Align.Center" Style="width: 106px; overflow-wrap:break-word;max-width:108px;height:40px; text-align: center; vertical-align:central" Typo="Typo.body2">@ClusterName</MudText>
											</MudStack>
										</MudButton>
									</MudItem>
								}
							}
						</MudGrid>
					</MudStack>
				</MudContainer>
				<MudContainer MaxWidth="MaxWidth.ExtraLarge" hidden="@(Query == null || !Query.HasClusterSelected())" Class="mixing_selection">
					<MudPaper Class="pa-3" Elevation="2">
						<!--Mixings-->
						<MudStack Spacing="4" AlignItems="AlignItems.Center">
							<MudText Class="trait-selector-header" Align="Align.Center" Typo="Typo.h4">@L["Select your active DLC Content:"]</MudText>
							<MudGrid Spacing="3" Justify="Justify.Center">
								@foreach (var mixing in GameSettingsInstance.DlcMixingSettings)
								{
									<DlcRemixSettingContainer Mixing="@mixing" Query="@Query" />
								}
							</MudGrid>
							@if (Query?.SpacedOutSelected() ?? false)
							{
								<MudText Class="trait-selector-header" Align="Align.Center" Typo="Typo.h5">@L["Asteroid Remix:"]</MudText>
								<MudGrid Spacing="6" Justify="Justify.Center">
									@foreach (var mixing in GameSettingsInstance.WorldMixingSettings)
									{
										<WorldGenRemixSettingContainer Mixing="@mixing" Query="@Query" />
									}
								</MudGrid>
							}
							<MudText Class="trait-selector-header" Align="Align.Center" Typo="Typo.h5">@L["Biome Remix:"]</MudText>
							<MudGrid Spacing="6" Justify="Justify.Center">
								@foreach (var mixing in GameSettingsInstance.SubworldMixingSettings)
								{
									<WorldGenRemixSettingContainer Mixing="@mixing" Query="@Query" />
								}
							</MudGrid>
						</MudStack>
					</MudPaper>
				</MudContainer>

				<MudContainer MaxWidth="MaxWidth.ExtraLarge" hidden="@(Query == null || !Query.HasClusterSelected())" Class="clusteritemselection">
					<MudPaper Class="pa-3" Elevation="2">
						<MudStack Spacing="2" AlignItems="AlignItems.Center">
							<MudStack Row="true" Justify="Justify.Center" Spacing="3">
								@{
									string localizedTraitFilterHeader = string.Format(@L["Configure your filters for {0}"], @Query?.SelectedCluster?.Name);
								}
								<MudTooltip Text=@L["Show Trait Info"]>
									<MudFab Size="Size.Medium" StartIcon="@Icons.Material.Filled.Info" Class="start-query-button" @onclick="OpenTraitInfoDialogAsync" Color="Color.Tertiary"> </MudFab>
								</MudTooltip>
								<MudText Class="trait-selector-header" Align="Align.Center" Typo="Typo.h4">@localizedTraitFilterHeader</MudText>
								<MudTooltip Text=@L["Reset all trait filters"]>
									<MudFab Size="Size.Medium" StartIcon="@Icons.Material.Filled.DeleteForever" Disabled="@blockedFromReset" Class="start-query-button" OnClick="(_)=> Query?.ResetFilters()" Color="Color.Secondary"> </MudFab>
								</MudTooltip>
							</MudStack>
							<MudSpacer></MudSpacer>
							<MudGrid Spacing="2" Justify="Justify.Center">
								@for (int i = 0; i < Query?.SelectedCluster?.worldPlacements.Count; ++i)
								{
									var world = Query.SelectedCluster.worldPlacements[i].Asteroid;
									<AsteroidConfigurator Query="Query" Asteroid ="world"/>
								}
								@if (Query.HasClusterSelected() && Query.ActiveDlcs.Contains(Dlc.BASEGAME))
								{
									<BaseGameStartmapConfigurator Query="@Query"/>
								}
							</MudGrid>
							<MudSpacer></MudSpacer>
							@{
								string prefix = Query != null && Query.SelectedCluster != null ? Query.SelectedCluster.Prefix : string.Empty;
								bool canDeleteQueryResults = Query != null && !Query.HasResults();
								string searchString = (Query?.CurrentQuerySeed > 1) || (!Query?.SelectedCluster?.HasFixedCoordinate() ?? true) ? L["Search for more seeds"] : L["Search for seeds"];
								string coordTitleString = $"{prefix}-";
							}
							<MudGrid Justify="Justify.Center" AlignItems="AlignItems.Center" Spacing="2">
								<MudItem>
									<MudText Typo="Typo.h6" Align="Align.Center">@L["Starting Seed:"]</MudText>
								</MudItem>
								<MudFlexBreak />
								<MudItem>
									<MudStack Row Spacing="0" Justify="Justify.Center" AlignItems="AlignItems.Center">
										<MudText Inline Typo="Typo.h6" Style="text-overflow:ellipsis; white-space: nowrap;" Align="Align.Center">@coordTitleString</MudText>
										@if (isFixedCoordinate)
										{
											<MudNumericField Variant="Variant.Outlined" Disabled=true Value="@Query?.SelectedCluster?.fixedCoordinate" Min="1"></MudNumericField>
										}
										else
										{
											<MudNumericField Variant="Variant.Outlined" @bind-Value=Query.CurrentQuerySeed Min="1"></MudNumericField>
										}
										<MudText Inline Typo="Typo.h6" Align="Align.Center">-0-0-</MudText>
										<MudText Inline Typo="Typo.h6" Align="Align.Center">@GameSettingsInstance.GetMixingSettingsCode()</MudText>
									</MudStack>
								</MudItem>
								<MudFlexBreak />
								<MudItem>
									<MudFab Disabled="@canDeleteQueryResults" StartIcon="@Icons.Material.Filled.Delete" OnClick="(_)=> Query?.ClearQueryResults()" Label=@L["Clear Results"] Color="Color.Secondary"></MudFab>
								</MudItem>
								<MudItem>
									<MudFab Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Search" Disabled="@isFixedCoordinate" OnClick="(_)=> StartSearching()" Color="Color.Primary" Label="@searchString"></MudFab>
								</MudItem>
							</MudGrid>
						</MudStack>
					</MudPaper>
				</MudContainer>
				<MudContainer MaxWidth="MaxWidth.ExtraLarge" hidden="@(Query == null || Query != null && !Query.HasClusterSelected())">
					<MudPaper Class="pa-3" Elevation="2">
						<MudStack Spacing="4" AlignItems="AlignItems.Center">
							<MudItem Class="query-results">
								<MudStack Row="true" Justify="Justify.Center" Spacing="3">
									<MudText GutterBottom Align="Align.Center" Typo="Typo.h4">@L["Seed Query Results:"]</MudText>
								</MudStack>
								<MudSpacer></MudSpacer>
								<MudGrid Spacing="2">
									@if (Query != null && Query.HasClusterSelected())
									{
										if (Query.HasResults())
										{
											foreach (var result in Query?.QueryResults)
											{
												<QueryResultVisualizer SearchQuery="Query" QueryResult="@result"></QueryResultVisualizer>
											}
										}
										else
										{
											<MudPaper Outlined Elevation="10" Class="pa-1" Width="300px" Height="460px">
												<MudStack Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.Center">
													<MudText Align="Align.Center" Typo="Typo.h6">@L["No Results yet"]</MudText>
													<MudText Align="Align.Center" Typo="Typo.body1">@L["Try searching for more seeds"]<br /><br />@L["The tool will keep the highest 5 seeds for easy comparison."]</MudText>
													<MudElement Style="height:65px"></MudElement>
													<MudText Align="Align.Center" Typo="Typo.body1">@L["Cannot seem to find a seed with all the traits you want and open to mods?"]</MudText>
													<MudLink Style="text-align:center" Target="_blank" Href="https://steamcommunity.com/sharedfiles/filedetails/?id=2947429297" Typo="Typo.body1">@L["Install Cluster Generation Manager to simply select all the traits you want (and much more) for your game!"]</MudLink>

												</MudStack>
											</MudPaper>
										}
									}
								</MudGrid>
							</MudItem>
						</MudStack>
					</MudPaper>
				</MudContainer>
				<div id="end-page-id"></div>
			}
		</MudStack>
	</MudContainer>


	var translationAuthor = L.GetString("_TranslationAuthor");
	string credit = string.Format(L["Made by {0}"], "Sgt_Imalas");

	bool hasTranslationAuthor = !translationAuthor.ResourceNotFound && !string.IsNullOrEmpty(translationAuthor) && !string.IsNullOrWhiteSpace(translationAuthor);
	string translationBy = string.Format(L["Translation by {0}"], translationAuthor);


	<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
		<MudLink Class="query-results" hidden="@(Query == null || !Query.HasClusterSelected())" Target="_blank" Style="text-align:center;overflow: visible;height: 0px;" Underline="Underline.Always" Href="https://github.com/MapsNotIncluded/ONITraitFinder" Typo="Typo.subtitle2" Color="Color.Default">@credit</MudLink>
		@if (hasTranslationAuthor)
		{
			<MudText hidden="@(Query == null || !Query.HasClusterSelected())" Target="_blank" Style="text-align:center;overflow: visible;height: 0px; margin-left:30px" Underline="Underline.Always" Typo="Typo.subtitle2" Color="Color.Default">@translationBy</MudText>
		}
	</div>
}



@code {
	[Parameter]
	public string OptionalSeed { get; set; }
	private bool DataInitialized = false;
	private SearchQuery? Query = null;

	private ClusterCategory? SelectedClusterCategory;
	private ClusterLayout? clusterLayout;


	protected override void OnInitialized()
	{
		base.OnInitialized();
	}
	async Task SaveSettings()
	{
		await localStorage.SetItemAsync(LocalStorageHelper.SavedMixingsKey, GameSettingsInstance.GetMixingSettingsCode());
	}
	async Task LoadSettings()
	{
		var mixingVal = await localStorage.GetItemAsync<string>(LocalStorageHelper.SavedMixingsKey);
		if (mixingVal != null && mixingVal.Length > 0)
		{
			Console.WriteLine("Loading saved mixing settings");
			GameSettingsInstance.ParseMixingSettingsCode(mixingVal);
		}
		else
		{
			Console.WriteLine("No saved mixing settings found, using default");
		}
	}

	protected override async Task OnInitializedAsync()
	{
		DataImport.SetActiveVersion(Dlc.BASEGAME);
		Console.WriteLine("loading game data");
		await DataImport.FetchBaseGameData(Http);
		await DataImport.FetchSpacedOutData(Http);
		await DataImport.FetchStarmapDestinationData(Http);
		await DataImport.FetchMixingData(Http);
		await DataImport.FetchFailedSeeds(Http);

		DataInitialized = true;
		Query = new();
		Query.PropertyChanged += async (sender, args) =>
		{
			StateHasChanged();
			await SaveSettings();
		};


		await LoadSettings();


		if (OptionalSeed != null && OptionalSeed.Length > 0)
		{
			Console.WriteLine("Parsing optional seed...");
			var settingCoordinate = ParseCoordinate(OptionalSeed);
			if (settingCoordinate.Length < 4 || settingCoordinate.Length > 6 || !int.TryParse(settingCoordinate[2], out int _))
				return;

			foreach (var entry in settingCoordinate)
			{
				Console.WriteLine(entry);
			}

			var prefix = settingCoordinate[1];

			Data dataCollection;
			if (DataImport.BaseGame.clusters.Any(clusterLayout => clusterLayout.Prefix == prefix))
			{
				dataCollection = DataImport.BaseGame;
				Console.WriteLine("Is base game cluster");

				DataImport.SetActiveVersion(Dlc.BASEGAME);
			}
			else if (DataImport.SpacedOut.clusters.Any(clusterLayout => clusterLayout.Prefix == prefix))
			{
				dataCollection = DataImport.SpacedOut;

				DataImport.SetActiveVersion(Dlc.SPACEDOUT);
				Console.WriteLine("Is spaced out cluster");
			}
			else
				return;
			if (settingCoordinate.Length >= 3)
				GameSettingsInstance.ParseGameSettingsCode(settingCoordinate[3]);
			if (settingCoordinate.Length >= 4)
				GameSettingsInstance.ParseStorySettingsCode(settingCoordinate[4]);
			if (settingCoordinate.Length >= 6)
				GameSettingsInstance.ParseMixingSettingsCode(settingCoordinate[5]);

			var cluster = dataCollection.clusters.First(clusterLayout => clusterLayout.Prefix == prefix);

			foreach (var dlc in cluster.RequiredDlcs)
				Query.SetDlcEnabled(dlc, true);

			Query.SelectMode(cluster.ClusterCategory);
			await SelectCluster(cluster);

			await Query.SearchFixedSeed(int.Parse(settingCoordinate[2]));
			await ScrollToResults();
			await ScrollToResults();
			await ScrollToResults();
			await ScrollToResults();

		}
	}
	public static string[] ParseCoordinate(string coord)
	{
		Match match = new Regex("(.*)-(\\d*)-(.*)-(.*)-(.*)").Match(coord);
		for (int index = 1; index <= 2; ++index)
		{
			if (match.Groups.Count == 1)
				match = new Regex("(.*)-(\\d*)-(.*)-(.*)-(.*)".Remove("(.*)-(\\d*)-(.*)-(.*)-(.*)".Length - index * 5)).Match(coord);
		}
		string[] settingCoordinate = new string[match.Groups.Count];
		for (int groupnum = 0; groupnum < match.Groups.Count; ++groupnum)
			settingCoordinate[groupnum] = match.Groups[groupnum].Value;
		return settingCoordinate;
	}
	bool overlay_visible;
	public async void StartSearching()
	{
		if (Query != null)
			await Query.StartSearching();

		//await Task.Delay(500);
		//overlay_visible = false;
		await ScrollToResults();
	}
	public async Task GoToTraitSelection()
	{
		await Task.Delay(5);
		await ScrollManager.ScrollIntoViewAsync(".trait-selector-header", ScrollBehavior.Smooth);
	}

	public async Task ScrollToQuery()
	{
		await Task.Delay(5);
		await ScrollManager.ScrollIntoViewAsync(".start-query-button", ScrollBehavior.Smooth);
	}
	public async Task ScrollToResults()
	{
		await Task.Delay(5);
		await ScrollManager.ScrollIntoViewAsync(".query-results", ScrollBehavior.Smooth);
	}
	public void RefreshUI()
	{
		Console.WriteLine("Refreshing UI"); 
		InvokeAsync(() => StateHasChanged());
	}

	public async Task SelectCluster(ClusterLayout cluster)
	{
		if (cluster.HasFixedCoordinate())
			Snackbar.Add(@L["This cluster always generates the same seed!"], Severity.Warning);
		Query.SelectCluster(cluster);
		await GoToTraitSelection();
	}
	private Task OpenTraitInfoDialogAsync()
	{
		var options = new DialogOptions
			{
				MaxWidth = MaxWidth.Medium,
				FullWidth = true,
				CloseOnEscapeKey = true
			};

		return DialogService.ShowAsync<TraitInfoDialogue>(L["Trait Info"], options);
	}
}
